li{
    list-style: none;
    display: inline;
    direction: flex;
    padding-left: 20px;
    justify-content: space-between;


} 
li:hover{
    cursor: pointer;
    opacity:0.7;
    color: blue;
}
h3{
    padding-left: 30px;
}
